@using FT.Travelako.UI.Models.Orders
@model FT.Travelako.UI.Models.Orders.ViewModel.ListOrders

@{
    ViewData["Title"] = "Orders History";
    var statusClass = string.Empty;
}

<section class="section-order-list">
    <!--page title-->
    <div class="container-order-list">
        <div class="page">
            <h1>Booking list</h1>
            @* <div class="buttons">
                <a class="btn-order-list add-new" href="#">Add New Booking</a>
            </div> *@
        </div>
        @if (Model != null)
        {
            foreach (var order in Model.Orders)
            {
                {
                    if (order.Status?.ToLower() == nameof(Status.Payment).ToLower())
                    {
                        statusClass = "confirmed";
                    }
                    else if (order.Status?.ToLower() == nameof(Status.Cancel).ToLower())
                    {
                        statusClass = "cancelled";
                    }
                    else
                    {
                        statusClass = string.Empty;
                    }
                }
                <!--single booking details-->
                <div class="request-details">
                    <div class="date">
                        <p>@order.CreateDated</p>
                        @* <h3>20</h3>
                        <p>Aug</p> *@
                    </div>
                    <div class="company">
                        <div class="placeholder">
                            <i class="fas fa-building"></i>
                            <p>Tour</p>
                        </div>
                        <h3><a class="booking-datail-url" asp-action="Detail" asp-controller="Booking" asp-route-orderId="@order.Id">@order.TourName</a></h3>
                    </div>
                    <div class="destination">
                        <div class="placeholder">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Guest Size</p>
                        </div>
                        <h3>@order.GuestSize</h3>
                    </div>
                    <div class="live-stock">
                        <div class="placeholder">
                            <i class="fas fa-horse-head"></i>
                            <p>Total Payment</p>
                        </div>
                        <h3>@order.TotalPrice</h3>
                    </div>
                    <div class="booking-status">
                        <div class="placeholder">
                            <i class="fas fa-question-circle"></i>
                            <p>Booking Status</p>
                        </div>
                        <div class="label @statusClass">
                            <p>@order.Status</p>
                        </div>
                    </div>
                    <div class="booking-status">
                        @if (order.Status?.ToLower() == nameof(Status.Draft).ToLower())
                        {
                            <div>
                                <form asp-action="UpdateOrderStatus" asp-controller="Booking" asp-route-orderId="@order.Id">
                                    <button class="label cancelled btn btn-danger" type="submit">Click to cancel</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</section>


